* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 20px;
}
/* eb-garamond-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/eb-garamond-v30-latin/eb-garamond-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* eb-garamond-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    src: url('./../fonts/eb-garamond-v30-latin/eb-garamond-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* eb-garamond-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    src: url('./../fonts/eb-garamond-v30-latin/eb-garamond-v30-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* eb-garamond-800italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 800;
    src: url('./../fonts/eb-garamond-v30-latin/eb-garamond-v30-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
      background-color: #eee;    
      font-family: 'EB Garamond', serif;
  }

.header {
    /* background-color: #091057; */
    background: radial-gradient(
        circle 100px,
        rgba(226, 226, 61, 0.283),
        rgb(226, 226, 61) 75px,
        rgb(100, 100, 17) 80px,
        #14213dff
        ) ;
    height: 300px;
}

.title {
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #DBD3D3;
    color: #EC8305;
    text-align: center;
    line-height: 300px;

}

.content {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #091057;
    /* font-size: 0; */
}

.content--card { margin-top: 20px;}

.info {    
    background-color: #EC8305;
    border: 3px solid #091057;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.15;
}

h1 {
    text-align: center;
    word-spacing: 3px;
    text-transform: capitalize;
    font-weight: 400;
}

.content-text {
    padding: 10px 0;
    text-align: left;
}

.planet-list {
    padding: 10px 0 10px 70px;
    text-align: left;
}

li {
    list-style-image: url("./../img/icons8-pianeta-11.png");
    padding: 5px 0;
}

.content div.card {
    /* display: inline-block; */
    float:left;
    color: #091057;
    border: 1px solid #091057;
    width: calc(33.3333333% - 13.3333333px);
    font-size: 1rem;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #091057, -1px -1px 5px #091057;
}
.content div.card {cursor: pointer;}
.content div.card:hover {box-shadow:  1px 1px 5px #EC8305, -1px -1px 5px #EC8305;}

.content div.clearfix {
    clear:both;
}

.card:hover div.card-header {
    background-color: #091057;
    color: #EC8305;
}
/* .card-left {
    margin-left: 0;
    width: calc(33.3333333% - 10px);
}
.card-right {
    margin-right: 0;
    width: calc(33.3333333% - 10px);
} */
div .card:nth-of-type(3n + 1) {
    margin-left: 0;
    /* width: calc(33.3333333% - 10px); */
}
div .card:nth-of-type(3n) {
    margin-right: 0;
    /* width: calc(33.3333333% - 10px); */
}

.card-header, .card-body {
    border-bottom: 1px solid #091057;
}

.card-header, .card-body, .card-footer {
    padding: 20px 20px;
    text-align: center;
}

.card-body p {
    overflow: hidden;
}

.card-footer {
    font-size: 1.2rem;
}

.card-footer p {
    width: 65%;
    margin: auto;
    line-height: 2em;
}

.card-footer p:hover {
    background-color:#091057; 
    color:#EC8305;
    text-transform: uppercase;
    border-radius: 100px;
}

.card-body {
    text-align: left;
}

.card-text {
    height: 442px;
}

.footer {
    background-color: #EC8305;
    padding: 20px 0;
    font-size: 0.5rem;
}


