@import url("./fonts.css");

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 20px;
}

  body {
      background-color: #eee;    
      font-family: 'EB Garamond', serif;
  }

.header:not(nav.header) {
    /* background-color: #091057; */
    position:relative;
    background: radial-gradient(
        circle 100px,
        rgba(226, 226, 61, 0.283),
        rgb(226, 226, 61) 75px,
        rgb(100, 100, 17) 80px,
        #14213dff
        ) ;
    height: 300px;
}

.title {
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #DBD3D3;
    color: #EC8305;
    text-align: center;
    line-height: 300px;

}

nav.header{
    padding:5px 5px;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: -5px;
    right:0px;
}
nav.header>ul,
nav.header>ul>li>ul {
    padding:0;
    margin:0;
}
nav.header>ul>li:first-of-type {
    position:relative
}
nav.header>ul>li,
nav.header>ul>li>ul>li {
    min-width: 100px;
    display: inline-block;
    list-style: none;
}
nav.header>ul>li {
    border:1px solid transparent;
    margin-right: 20px;
}
nav.header>ul>li:hover {
    border:1px solid white;
}
nav.header>ul>li>ul>li {
    border-top:1px solid white;
    border-right:1px solid white;
    border-left:1px solid white;
    padding:10px 0;
}
nav.header>ul>li>ul>li:last-of-type {
    border-bottom: 1px solid white;
}
nav.header>ul>li>ul {
    opacity:0;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
nav.header>ul>li:hover ul {
    opacity:1;
    max-height: 800px;
}
nav.header>ul>li>a,
nav.header>ul>li>ul>li>a,
.dropdown {
    font-size: 1.2rem;
    display: block;
    height: 100%;
    line-height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}
nav.header>ul>li>a:hover,
nav.header>ul>li>ul>li>a:hover,
.dropdown:hover {
    color:#EC8305;
}
nav.header>ul>li:first-of-type ul {
    position:absolute;
    background-color: #14213dff;
    top: 100%;
    right: -1px;
}
.dropdown {
    cursor: pointer;
}
.dropdown-content {
    background-color: #ccc;
    padding: 5px;
    cursor: auto;
    display: none;
    position: absolute;
    top:90%;
    left:-278.5%;
    width: 378.5%;
    box-shadow: 0px 10px 5px #091057;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.row {
    display: flow-root;
}
.row .column {
    float: left;
    width: 33.3333333%;
    min-height: 250px;
}
.column a {
    display: block;
    text-decoration: none;
    color:#EC8305;
    padding: 10px;
    font-size: 1rem;
}
.column h3 {
    padding:10px 0;
    color: #091057;
}

.content {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #091057;
    /* font-size: 0; */
}

.content--card { margin-top: 20px;}

.info {    
    background-color: #EC8305;
    border: 3px solid #091057;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.15;
}

h1 {
    text-align: center;
    word-spacing: 3px;
    text-transform: capitalize;
    font-weight: 400;
}

.content-text {
    padding: 10px 0;
    text-align: left;
}

.planet-list {
    padding: 10px 0 10px 70px;
    text-align: left;
}

li {
    list-style-image: url("./../img/icons8-pianeta-11.png");
    padding: 5px 0;
}

.content div.card {
    /* display: inline-block; */
    float:left;
    color: #091057;
    border: 1px solid #091057;
    width: calc(33.3333333% - 13.3333333px);
    font-size: 1rem;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #091057, -1px -1px 5px #091057;
}
.content div.card {cursor: pointer;}
.content div.card:hover {box-shadow:  1px 1px 5px #EC8305, -1px -1px 5px #EC8305;}

.content div.clearfix {
    clear:both;
}

.card:hover div.card-header {
    background-color: #091057;
    color: #EC8305;
}
/* .card-left {
    margin-left: 0;
    width: calc(33.3333333% - 10px);
}
.card-right {
    margin-right: 0;
    width: calc(33.3333333% - 10px);
} */
div .card:nth-of-type(3n + 1) {
    margin-left: 0;
    /* width: calc(33.3333333% - 10px); */
}
div .card:nth-of-type(3n) {
    margin-right: 0;
    /* width: calc(33.3333333% - 10px); */
}

.card-header, .card-body {
    border-bottom: 1px solid #091057;
}

.card-header, .card-body, .card-footer {
    padding: 20px 20px;
    text-align: center;
}

.card-body p {
    overflow: hidden;
}

.card-footer {
    font-size: 1.2rem;
}

.card-footer p {
    width: 65%;
    margin: auto;
    line-height: 2em;
}

.card-footer p:hover {
    background-color:#091057; 
    color:#EC8305;
    text-transform: uppercase;
    border-radius: 100px;
}

.card-body {
    text-align: left;
}

.card-text {
    height: 442px;
}

.footer {
    background-color: #EC8305;
    padding: 20px 0;
    font-size: 0.5rem;
}


